{%extends "base.html"%}
<!-- Allows us to overwrite any blocks in the base html -->

{%block title%}Login{%endblock%} {%block content%} <br />
<form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
      <br />
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
<h5 align="center">Sample Login Credentials:</h5>
<h6 align="center">Email Address: delores.bishop@example.com</h6>
<h6 align="center">Password: satchmo</h6>
<p align="center">Please use guest user responsibly and leave behind some sample to do items for next guest.</p>
<p align="center">Guest User Last Maintained 1/17/23</p>
{%endblock%}
